.container{
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: auto ;
    width: max-content;
    background-color: grey;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 4px 4px 10px;
}
div{
    display: flex;
    position: relative;
    width: 10vw;
    height: 10vw;
    margin: 1vw;
    border-radius: 100%;
}

p{  
    display: inline-block;
    height: max-content;
    text-align: center;
    margin: auto;
    padding: 1.5em;
}

#row1, #row2, #row3{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    align-content: center;
    margin: 0;
}


#d1{
    background-color: red;
    justify-content: center;
    box-shadow: 0px 0px 5px;
}

#d2 {
    background-color: rgb(0, 17, 255);
    justify-content: center;
    box-shadow: 0px 0px 5px;
}

#d3 {
        background-color: rgb(57, 207, 27);
        justify-content: center;
        box-shadow: 0px 0px 5px;
}

#d4 {
    background-color: rgb(9, 247, 255);
    justify-content: center;
    box-shadow: 0px 0px 5px;
}

#d5 {
    background-color: rgb(255, 0, 212);
    justify-content: center;
    box-shadow: 0px 0px 5px;
}

#d6 {
    background-color: rgb(253, 249, 2);
    justify-content: center;
    box-shadow: 0px 0px 5px;
}

#d7 {
    background-color: rgb(153, 0, 255);
    justify-content: center;
    box-shadow: 0px 0px 5px;
}

#d8 {
    background-color: rgb(253, 93, 0);
    justify-content: center;
    box-shadow: 0px 0px 5px;
}
#d9 {
    background-color: rgb(0, 134, 243);
    justify-content: center;
    box-shadow: 0px 0px 5px;
}