
body{
    background: rgba(90, 90, 90, 0.219);
}
th{
    background-color: #023E8A;
    padding: 1em;
    border: 2px rgba(90, 90, 90, 0.623) solid;
    font-family: sans-serif;
    color: whitesmoke;
}
td{
    text-align: center;
    padding: .5em;
    border: 2px rgba(90, 90, 90, 0.623) solid;
    font-family: sans-serif;
}

tr:nth-child(2n){
    background-color: #CAF0F8;
}

tr{
    background-color: #ADE8F4;
    color: black;
}

.table{
    margin: auto;
    width: max-content;
}

.main-container{
    display:flex;
    flex-direction: column;
    position: relative;
    width: max-content;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    background-color: #0077B6;
}

.form-container{
    display: flex;
    flex-direction: column;
    margin: .5em auto ;
    margin-bottom: 1em;
    border-radius: 1em;
    padding: 1em;
    width: 80%;
    background-color: #90E0EF;
    box-shadow: 2px 2px 5px rgba(90, 90, 90, 0.623);
    
}

table{
    position: relative;
    top:0px;
}

.form-section{
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 80%;
    margin: .5em auto;
    justify-content: space-between;
}

.form-field {
    margin: auto .5em ;
    height: fit-content;
}

.form-button{
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 1em;
    justify-content: space-evenly;
}

#submit-form {
    display: block;
    margin: auto;
}

details > summary{  
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    list-style-type: '+ ';
    color: whitesmoke;
    font-weight: bolder;
}

details{
    background-color: #48CAE4;
    border-radius: 1em;
    margin-top: 1em;
    border: 2px rgba(90, 90, 90, 0.623) solid;
}
summary:hover{
    cursor: pointer;
}

summary > span{
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: bolder;
}

label{
    display: block;
    margin: .5em auto;
    font-family: Helvetica;
    font-weight: 600;
}